*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100%;
}
.parent{
 min-height: 100vh;
  width: 100%;
  background-color: #256425;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
justify-content: center
}
.card{
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
display: flex;
align-items: center;
justify-content: space-between;
}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #dadada;
}

.center h3{
  font-size: 18px;
  font-weight: 500;

}
.center h3 span{
  font-size: 15px;
  font-weight: 500;
  color: #8b8b8b;
  padding: 0px 3px;
}
.center h2{
  font-size: 20px;
  font-weight: 600;
}
.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 8px;
}
.center .tag h4{
  font-size: 17px;
  background-color: #dadada;
  color: #111;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 3px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bababa;
  padding-top: 15px;
}
.bottom button{
  background: #000;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}
.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}